**/*.classpath
**/*.project
**/*.pyc
**/*.settings
**/*.swp
**/.DS_Store
**/.idea/
**/refs
**/target

/bin
/project/*

*.*~
*.aux
*.bak
*.bbl
*.blg
*.ctrl
*.dat
*.iml
*.lck
*.log
*.prefs
*.txt.sb*

!/project/assembly.sbt
!/project/build.properties
