**/*.classpath
**/*.project
**/*.pyc
**/*.settings
**/*.swp
**/.DS_Store/
**/.idea/
**/out/
**/refs
**/target

/bin/
/Dataset/imdb/ftp.fu-berlin.de/
/Dataset/imdb/snapshots/

/project/*

*.*~
*.aux
*.bak
*.bbl
*.blg
*.ctrl
*.dat
*.iml
*.lck
*.log
*.prefs
*.txt.sb*

!/project/assembly.sbt
!/project/build.properties
